#gallery-detail {
  padding-left: 20px;
  padding-right: 20px;
}

.grid-photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}
.photo-item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
